.wel{
    text-align: center;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.lwel{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
html{
    background-color: lavenderblush;
}
.phro1{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}
.phro2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
}
.row1{
    width: 30%;
}
.row2{
    width: 30%;
}